body{
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    background-color: mediumslateblue;
}
nav a{
    text-decoration: none;
    color: white;
}
nav a:last-child:before {
    content: "Ⓜ️";
}
nav a:first-child:before {
    content: "🦸";
}
nav a:nth-child(2):before {
    content: "🦸";
}
.hero{
    display: flex;
    flex-direction: column;
}
.links{
    display: flex;
}
.links ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}